.sidebar-container {
    position: fixed;
    width: 250px;
    height: 100vh;
    padding-top:10px;
    padding-left: 20px;
    border-right: #cccccc solid thin;
}
.logo{
    color: #3862EE;
}
.list-container ul{
    width: 200px;
    margin-top: 40px;
    margin-left: 30px;
}
.list-container .row{
    width: 50%;
    display: flex;
    justify-content: space-around;
    line-height: 15px;
    margin-bottom: 40px;
    font-size: 14px;
    cursor: pointer;
}
.list-container  .row #active{
    border-right: solid 2px #ddd;
}
