.pop-up-backdrop{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.right-sidebar-header{
    justify-content:space-between;
    display: flex;
    padding-right: 75px;
}
.right-sidebar-header .main-header{
    font-size: 2em;
    font-weight: bold;
}
.cancel-popup{
    position: relative;
    left: 50px;
}
.cancel-icon{
    color: #699BF7;
    cursor: pointer;
}
.popup-info{
   color: #BFBFBF
}
.right-sidebar-content{
    position: absolute;
    right:0;
    width: 40%;
    height: 100%;
    padding-top:10px;
    padding-left:50px;
    background-color: white;
    text-align: left;
}
.empty-area{
    position: absolute;
    left:0;
    width: 60%;
    height: 100%;
    padding-top:10px;
    padding-left:50px;
    cursor: pointer;
}
.add-campaig-form{
    width: 80%;
}
.objective-selection-wrapper{
     display: flex;
     justify-content:space-between;
}
.objective-selecttion-box{
    width: 130px;
    height: 55px;
    box-shadow: 1;
    box-shadow: -1px 3px 5px 0px rgba(114,114,114,0.75);
    -webkit-box-shadow: -1px 3px 5px 0px rgba(114,114,114,0.75);
    -moz-box-shadow: -1px 3px 5px 0px rgba(114,114,114,0.75);
    border-radius: 10px;
    cursor: pointer;
    font-size:13;
    text-align: center;
    line-height:55px;

}
.objective-selecttion-box.active{
    color: #666666;
    background: #f2f2f2;
 
 }
 .objective-selecttion-box.inactive{
      border: none;
 }
.objective-info{
    padding: 10px;
    border-radius: 10px;
    width:100%;
    border: solid thin #BFBFBF;
    color: #8a6a6a;
}
.campaign-img-uploader{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width:100%;
    border: dashed thin #BFBFBF;
    color: #BFBFBF;
    height: 120px;
}
.form-btns{
    float: right;
    width: 33%;
    display: flex;
}
.form-btns button{
    height: 30px;
    width: 130px;
}
#cancel-btn{
    background-color: white;
    color: black;
}
.right-sidebar-pages.hide{
    display: none;
}
label{
    font-size: 13px !important;
}
/* campaign list style */
.campaign-list-container{
    padding-right: 10px;
}
.campaign-list-container ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 28px;
    padding: 0;
}
.campaign-list-hdr{
    height: 22px;
}
.campaign-list-subhdr{
    color: #BFBFBF;
}
.campaign-img img{
    width:190px;
    height: 90px;
    border-radius: 10px;
}