body {
  padding:0;
  margin:0;
  font-family: 'Titillium Web', sans-serif
}
a{
  text-decoration:none
}
li{
  list-style-type: none;
}
button{
  border:none;
  cursor: pointer;
}
.App {
  text-align: center;
  width: 100 vw;
  height: 100vh;
  /* background:#ccc; */
}

